.centrerHorizon{
    text-align: center; 
    padding : 5px;
}
.encadrement{
    display: inline-block;
    padding: 10px; /* espace autour */
    border : 3px solid rgb(94, 178, 238);  
}

.proposition{
    padding : 5px;
}

.ordi{
    flex : 3;
}

.filtre{
    flex : 1;
}

.disposition{
    display: flex;
}