
<div class="blocProposition">
    <div class="image">
    <img src="assets/ordi.png" alt="ImageOrdinateur">
    </div>
    <div class="text-container">
        <div class="description">
        <h2 class ="centrerHorizon">Nom de l'Ordinateur</h2>
        <p>Thalassius vero ea tempestate praefectus praetorio praesens 
            ipse quoque adrogantis ingenii, considerans incitationem eius
            ad multorum augeri discrimina, non maturitate vel consiliis 
            mitigabat, ut aliquotiens celsae potestates iras principum 
            molliverunt, sed adversando iurgandoque cum parum congrueret,
            eum ad rabiem potius evibrabat, Augustum actus eius exaggerando
            creberrime docens, idque, incertum qua mente, ne lateret 
            adfectans. quibus mox Caesar acrius </p>
        </div>
        <div class="autresLien centrerHorizon">
            <p class="encadrement">Prix €</p>
            <a href="https://www.hp.com/fr-fr/home.html" target="_blank">Où me trouver</a>
        </div>
    </div>
</div>
