<mat-toolbar id ="header">
  <mat-toolbar-row>
    <p>logo </p>
    <p>nom </p>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigateToQuestionnaire()">Questionnaire</button>
      <button mat-menu-item>Propositions ordinateurs</button>
      <button mat-menu-item>Composition ordinateur</button>
    </mat-menu>  </mat-toolbar-row>
 </mat-toolbar>

 <router-outlet></router-outlet>
 
 <mat-toolbar id ="footer">
  <mat-toolbar-row>
    <p>Nous contacter </p>
    <p>Mentions légales</p>
    <p>Reporter un bug </p>
  </mat-toolbar-row>
 </mat-toolbar>