<div class="container">
    <form class="bug-form">
      <p>Si vous avez des suggéstions à nous faire parvenir, des signalements, ou un retour d'expérience positif ou négatif, n'hésitez-pas à nous les transmettre ici. Ceci nous aide à améliorer notre site et à répondre aux mieux à vos besoins. Merci d'éviter tout envoi parasite.</p>
      <textarea>Veuillez indiquer ici votre signalement</textarea>
      <div class="buttons">
        <button mat-button (click)="navigateToHomePage()">Annuler</button>
        <button mat-button (click)="navigateToHomePage()">Envoyer</button>
      </div>
    </form>
  </div>
  
